@import "materialize";
@import "font-awesome/font-awesome";

.nav-wrap {
  text-align: center;
  ul {
    list-style-type: none;
    li {
      display: inline;
      padding: 30px;
      a {
        color: white;
      }
    }
    margin: 0;
    padding: 20px;
  }
  background: #37474f;
  margin-top: 0;
}

.cube-bg {
  background: url('../images/escheresque.png');
}

.intro {
  text-align: center;
  h1 {
    color: #5e5e5e;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
  }
  h4 {
    font-style: italic;
    color: #716f6f;
    margin-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .connect li {
    display: inline;
    padding: 10px;
    a i {
      color: #5e5e5e;
      &:hover {
        color: #88b0ef;
      }
    }

  }
}

.card-title-text {
  background: rgba(55,55,55,0.8);
  padding: 10px;
}

.about-nav {
  li {
    display: inline;
    .btn {
      background-color: #546e7a;
      &:hover {
        background-color: #607d8b;
      }
      &.selected {
        background-color: #ffab40;
      }
    }
  }
}

.skills {
  h5 {
    font-size: 1.5em;
  }
}

.profile-pic {
  text-align: center;
  margin-top: 20px;
}

.one-job {
  p.employer {
    margin-bottom: 0;
  }
  p.job-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  p.date {
    margin-top: 20px;
  }
  .employer {
    font-weight: bold;
    font-size: 1.8em;
  }
  .job-title {
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: underline;
  }
  ul.job-bullets > li {
    list-style-type: disc;
    margin-left: 2em;
  }
}
